<div class="login__page">
  <div class="login__container">
    <h2 class="login__header">Iniciar sesión</h2>

    <form class="login-form">
      <input class="login-form__input" placeholder="Username" [(ngModel)]="username" type="text" name="username" required>
      <input class="login-form__input" placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      <button class="login-form__btn login-form__btn--submit" (click)="login()">Iniciar sesión</button>
    </form>
  </div>
</div>
