<mat-card-header style="justify-content: center;">
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>{{expProduct.name}}</mat-card-title>
  <mat-card-subtitle>{{ expProduct._id | slice:0:10 }} | {{expProduct.laboratory}}</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content style="text-align: center;">
  <p>
    {{expProduct.description}}
  </p>
  <p *ngFor="let categoria of categories" class="h5">
    {{categoria.name}}
  </p>
  <p class="h5">
    Stock: {{expProduct.stock}}  Price: {{expProduct.price}}
  </p>
</mat-card-content>

