<mat-card-header style="justify-content: center;">
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>firstName</mat-card-title>
  <mat-card-subtitle>Id: 5 | lastName</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content style="text-align: center;">
  <p class="h5">
    Country: Peru,  City: Arequipa
  </p>
  <p class="h5">  
    State: single,  District: Miraflores
  </p>
  <p class="h5">
    Email: dpacoria@unsa.edu.pe
  </p>
  <p class="h6">
    Role: user
  </p>
</mat-card-content>