<section class="searchbar__container">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" [(ngModel)]="name" name="name" [value]="name" (input)="search($event)" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-danger" type="submit" (click)="clearout()">Limpiar</button>
    </form>
    <section class="results">
        <article class="result" *ngFor="let product of products" routerLink="/products/{{product._id}}" (click)="clearout()">
            <img class="result__img" src="{{product.images[0]}}" alt="{{product.name}}">
            <span class="result__name">{{product.name}}</span>
        </article>
    </section>
</section>
