<div class="card-body">
    <form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">firstName</span>
            <input type="text" class="form-control" placeholder="firstName" aria-label="firstName" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">lastName</span>
            <input type="text" class="form-control" placeholder="lastName" aria-label="lastName" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">City and Country</span>
            <input type="text" aria-label="Country" class="form-control">
            <input type="text" aria-label="City" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">State and District</span>
            <input type="text" aria-label="State" class="form-control">
            <input type="text" aria-label="District" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Role</span>
            <input type="text" class="form-control" placeholder="Role" aria-label="Role" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">Photography</span>
            <input type="file" class="form-control" placeholder="Photography" aria-label="Photography" aria-describedby="basic-addon1">
        </div>


    </form>
</div>
