
.color {
    margin: 0;
    padding: 10px;
    background-color: rgb(165, 228, 228);
}


.nav-item a{
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-item a:hover {
    background-color: rgb(100, 214, 214);
}