


<div class="card-body">
    <form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">Laboratory</span>
            <input type="text" class="form-control" placeholder="Laboratory" aria-label="Laboratory" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Category</span>
            <input type="text" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Stock and Price</span>
            <input type="number" aria-label="First name" class="form-control">
            <input type="number" aria-label="Last name" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </form>
</div>
   

