
<div class="fondo">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/img1.jpg" style="width: 100%; height: 500px;">
            <div class="container">
              <div class="carousel-caption text-start Carrousel">
                <h1>Visita nuestro local en Miraflores 123</h1>
                <p>Una cuadra arriba del cineBox UNSA ingenieros. Abierto todos los días de 4 am. a 11 pm.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/img2.jpg" style="width: 100%; height: 500px;">
            <div class="container">
              <div class="carousel-caption Carrousel">
                <h1>Visita nuestro local en Cayma 231</h1>
                <p>A espaldas del estadio UNSA Ingenieros. Abierto todos los días de 4 am. a 11 pm.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/img3.jpg" style="width: 100%; height: 500px;">
            <div class="container">
              <div class="carousel-caption text-end Carrousel">
                <h1>Visita nuestro local en Cercado 321</h1>
                <p>En la esquina Independencia frente a la Barraca. Abierto todos los días de 4 am. a 11 pm.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container marketing">
        <div class="" style="text-align: center;">
            <p class="h1">Productos más vendidos</p>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4">
              <img src="../../../../assets/p1.jpg" class="imagen">
              <h2 class="fw-normal">Ensure Advance</h2>
              <p>Tipo de bebida nutricional que ayuda a aquellas personas que no pueden obtener todos los nutrientes necesarios de los alimentos y otras bebidas. Ensure contiene vitaminas, minerales, proteínas y grasas.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="../../../../assets/p2.jpg" class="imagen">
              <h2 class="fw-normal">Nastizol</h2>
              <p>Para el alivio de los síntomas asociados a la rinitis alérgica incluyendo congestión nasal, estornudos, secreción nasal, prurito y lagrimeo asociado con dolor y fiebre. No debe administrarse a personas alérgicas o sensibles a cualquiera de los componentes de la fórmula.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="../../../../assets/p3.jpg" class="imagen">
              <h2 class="fw-normal">Paltomiel</h2>
              <p>Cada 100 mL de jarabe contiene: Hojas de Palto (equivalente a 19.7 ml de Extracto Acuoso) 4 g; Hojas de Eucaliptus (equivalente a 19.7 ml de Extracto Acuoso) 4 g. Indicaciones: Coadyuvante en el tratamiento de enfermedades que cursen con tos productiva caracterizada por mucus abundante y viscoso.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Contamos con personal <span class="text-muted">Altamente Calificado</span></h2>
            <p class="lead">Nuestros trabajodores se encargan de que su compra se realice con éxito</p>
          </div>
          <div class="col-md-5">
            <img src="../../../../assets/parte1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="700">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Contamos con una infraestructura amigable. <span class="text-muted">Y abrimos desde muy temprano</span></h2>
            <p class="lead">Sabemos que la puntualidad es una virtud y nuestra empresa no prescinde de esta, abierto desde las 6 am. hasta las 10 pm</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="../../../../assets/parte2.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="700">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Atención inmediata a cualquier hora del día <span class="text-muted">Verificado</span></h2>
            <p class="lead">Para garantizar la rapidez de nuestra empresa, contamos con distantes sucursales en Arequipa y solo debe acceder a la más cercana a su lugar de residencia</p>
          </div>
          <div class="col-md-5">
            <img src="../../../../assets/parte3.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="500">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    </div>
    <br>
</div>




