
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 products-table">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Sub Total</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <th scope="row">
                        <img class="img-car" src="{{item.images[0]}}">
                    </th>
                    <td style="width: 200px;">
                        {{item.name}}
                    </td>
                    <td>
                        <section style="display: flex; justify-content: center;">
                            
                            <h1 class="cantidad">{{item.amount}}</h1>
                            
                        </section>
                    </td>
                    <td>
                        <h3 class="cantidad">$/ {{ (item.price*item.amount)/100 | number: '0.2-2'}}</h3>
                    </td>
                    <td>
                        <p (click)="deleteItem(item._id)" class="delete">Eliminar</p>
                    </td>
                  </tr>
                  
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-4 centrar">
            <div class="contenedor">
                <h1>Resumen de Compra</h1>
                <hr>
                <div class="text-space">
                    <p>Total a Pagar</p>
                    <p>{{ (priceTotal/100) | number: '0.2-2' }}</p>
                </div>
                
                <hr>
                <div class="button">
                    <button routerLink="/payments" class="go_payment">
                        Ir a comprar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


